.ControlBox {
    border: 5px solid #444a57;
    margin: 1%;
    min-height: 80vh;
    height: 100%;
    display: grid;
    text-align: center;
}

.border {
    border: 1px solid #444a57;
    min-height: 95%;
}

.border-med {
    border: 1px solid #444a57;
    height: 65%;
}

.border-mini {
    border: 1px solid #444a57;
    height: 35%;
}